<%- include("partials/header"); -%>
  <h1 id="home-title">Organizador de Estudos</h1>

  <div id="side-bar" class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark scrollarea" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap">
      </svg>
      <span class="fs-4">Opções<span id="materials-book" class="material-symbols-outlined">
          auto_stories
        </span></span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto scrollarea">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#home" />
          </svg>
          Inicio
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#grid" />
          </svg>
          Assinaturas
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16">
            <use xlink:href="#people-circle" />
          </svg>
          Conta
        </a>
      </li>
    </ul>
    <hr>
  </div>
  <section id="card-section">
    <div class="card-group">
      <div class="row">
        <% newSubject.forEach(subject =>{%>
          <div class="card col-lg-6">
            <img  src="..."class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-danger"><a href="/subject/<%=subject.title%>"><%=subject.title%></a></h5>
              <p class="card-text"><%=subject.selector %></p>
              <p class="card-text"><%=subject.description %></p>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </section>

</div>


  <!-- <script>
    $("card").onclick({
      this.getElementByClass
    })
  </script> -->