<%- include("partials/header") -%>

<div class="container subject-container">
    <div class="row">
      <div class="col seRec">
        <p id='dificult' class='subject-text'>Você acha essa matéria <strong><%=subjectSelector%></strong></p>
        <h2>Nossas recomendações:</h2>
        <button type="button" class="btn btn-danger btn-lg subj-btn" ><a target="_parent" href="/">Voltar</a>
        </button>
      </div> 
      <div class="col"> 
        <h1 id='titleS'><%=subjectTitle%></h1>
      </div>
      <div class="col" style="display: flex;">
          <div class="">
             <% subjectTasks.forEach(task =>{%>
            <li>
              <ol><%=task%></ol>
            </li>
             <% }) %>
          </div>
       
      </div>
      <div class="col">
        <p><%=subjDesc%></p>
      </div>
    </div>
  </div>